<div id="home" class="current">
    <div class="toolbar">
        <h1>Weatherham</h1>
    </div>
    <h2><%=l @last_observation.observed_at, :format => :long %></h2>
    <ul class="rounded">
				<%= iphone_observation :temp %>
				<%= iphone_observation :wind_speed %>
				<%= iphone_observation :barometer, :unit => direction_to_html(@barometer_direction) %>
    </ul>
    <h2>More Information</h2>
    <ul class="rounded">
        <li class="arrow"><a href="#current">Current Conditions</a></li>
        <!-- <li class="arrow"><a href="#current">Hourly</a></li>
        <li class="arrow"><a href="#current">Today</a></li> -->
    </ul>    
    <div class="info">
			<p>
				Created by <%= link_to 'Amiel Martin', 'http://amielmartin.com' %>.
				Weather data provided by <%= link_to 'Bellingham Cold Storage', 'http://www.bellcold.com/download.txt' %>.
			</p>
			<p><%= link_to 'full site', 'http://weatherham.com' %></p>
		</div>
</div>
<div id="current">
    <div class="toolbar">
        <h1>Current</h1>
        <a class="back" href="#home">Back</a>
    </div>
    <ul class="edgetoedge">
      <li class="sep">Temperature</li>
			<%= iphone_observation :temp, :label => 'Ambient' %>
			<%= iphone_observation :wind_chill %>
      <li class="sep">Wind</li>
			<%= iphone_observation :wind_speed, :label => 'Speed' %>
			<%= iphone_observation :hi_speed %>
			<%= iphone_observation :wind_dir %>
			<li class="sep">Other</li>
			<%= iphone_observation :dew_point %>
			<%= iphone_observation :humidity %>
    </ul>
    <div class="info">
			<p>
				Created by <%= link_to 'Amiel Martin', 'http://amielmartin.com' %>.
				Weather data provided by <%= link_to 'Bellingham Cold Storage', 'http://www.bellcold.com/download.txt' %>.
			</p>
			<p><%= link_to 'full site', 'http://weatherham.com' %></p>
		</div>
</div>