
<% js_vars_with_scope :paths do %>
  <% @granularities.each do |granularity| %>
    <% js_var granularity, observation_path(granularity, :format => :json) %>
  <% end %>
<% end %>

<div id="top_copy">
  <p>Here you can see a visualization of weather patterns from <a href="http://bellcold.com">Bellingham Cold Storage</a>.</p>

  <% if @last_observation %>
    <p>Last Observation at <strong id="last_observation"><%=l @last_observation.observed_at, :format => :long %></strong>. Barometer: <%= @last_observation.barometer %> <%= direction_to_html @barometer_direction %></p>
  <% end %>
</div>



<div class="granularity_switcher">
  <%#= link_to_function 'Day',   '$.weatherham("five_min")' %>
  <%#= link_to_function 'Week',  '$.weatherham("hourly")' %>
  <%#= link_to_function 'Month', '$.weatherham("six_hour")' %>
  <%#= link_to_function 'Year',  '$.weatherham("daily")' %>
</div>

<%= plot :weather %>

<div id="utc_warning">
  Labels for the x-axis on this graph are in UTC. This is a restriction of the graphing library, and I'm working on a fix for it.
</div>

<form action="/">
  <%= metric_toggler 'wind_speed', 'windy' %>
  <%= metric_toggler 'hi_speed', 'cloudy-gusts' %>
  <%= metric_toggler 'temp', 'thermometer' %>
  <%= metric_toggler 'wind_chill', 'snowflake-cold', :default => false %>
  <%= metric_toggler 'barometer', 'barometer' %>
  <div class="clear"></div>

  <%= metric_toggler 'humidity', 'humidity', :default => false %>
  <%= metric_toggler 'dew_point', 'raindrops', :default => false %>
  <%= metric_toggler 'rain', 'rain', :default => false %>
  <div class="clear"></div>
</form>

