
<% js_vars_with_scope :paths do %>
	<% @granularities.each do |granularity| %>
		<% js_var granularity, observation_path(granularity, :format => :json) %>
	<% end %>
<% end %>

<% js_var :ranges, @ranges %>

<div id="top_copy">
	<p>Here you can see a visualization of weather patterns from <a href="http://bellcold.com">Bellingham Cold Storage</a>.</p>
	
	<p>Last Observation at <strong id="last_observation"><%=l @last_observation.observed_at, :format => :long %></strong>. Barometer: <%= @last_observation.barometer %> <%= direction_to_html @barometer_direction %></p>
</div>



<div class="granularity_switcher">
	<%= link_to_function 'Day',		'$.weatherham("five_min")' %>
	<%= link_to_function 'Week',	'$.weatherham("hourly")' %>
	<%= link_to_function 'Month', '$.weatherham("six_hour")' %>
	<%#= link_to_function 'Year',	'$.weatherham("daily")' %>
</div>

<%= plot :weather %>

<div id="utc_warning">
	Labels for the x-axis on this graph are in UTC. This is a restriction of the graphing library, and I'm working on a fix for it.
</div>

<form action="/">
	<%= metric_toggler 'wind_speed', :class => 'first' %>
	<%= metric_toggler 'hi_speed', :default => false %>
	<%= metric_toggler 'temp' %>
	<%= metric_toggler 'wind_chill', :default => false %>
	<%= metric_toggler 'barometer' %>
	<div class="clear"></div>
	
	<%= metric_toggler 'humidity', :default => false %>
	<%= metric_toggler 'dew_point', :default => false, :class => 'first' %>
	<div class="clear"></div>
</form>

