
<% js_var :five_min_path, observation_path(:five_min, :format => :json) %>
<% js_var :ranges, @ranges %>


<%= spreadhead "home" %>

<h2>Last Observation at <%=l Observation.last.observed_at, :format => :long %></h2>

<div id="activity"></div>

<form>
	<%= metric_toggler 'wind_speed' %>
	<%= metric_toggler 'hi_speed' %>
	<%= metric_toggler 'temp' %>
	<%= metric_toggler 'barometer' %>
	<%= metric_toggler 'humidity', :default => false %>

	<div class="clear"></div>
</form>

<%= plot :weather %>

