
<% js_var :observations, @observations.collect(&:to_h) %>
<% js_var :observation_range_path, range_observations_path(:format => :json) %>

<div class="container_12">
	<%= spreadhead "home" %>
	
	<h2>Last Observation at <%= @observations.first.observed_at.to_s :long %></h2>
	
	<form>
		<%= metric_toggler 'wind_speed' %>
		<%= metric_toggler 'hi_speed' %>
		<%= metric_toggler 'temp' %>
		<%= metric_toggler 'barometer' %>

		<div class="clear"></div>
	</form>
	
	<%= plot :weather %>
</div>

